In [1]:
import numpy as np
import pandas as pd

In [4]:
enem_sp = pd.read_csv('/Users/paull/OneDrive/Área de Trabalho/LEONARDO/python/jupyter/enem_2019_tratado.csv',
                     sep = ',', encoding = 'iso-8859-1')

In [5]:
enem_sp.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,parda,1,1,não_respondeu,NaN,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
2,"1,90E+11",São Bernardo do Campo,19,M,1,parda,1,2,pública,35904958.0,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
3,"1,90E+11",Embu-Guaçu,17,F,1,parda,1,2,pública,NaN,...,419.2,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
4,"1,90E+11",Guarulhos,23,F,1,branca,1,1,não_respondeu,NaN,...,796.1,Inglês,1.0,160.0,200.0,180.0,180.0,160.0,880.0,Sim

In [6]:
enem_osasco = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Osasco']

In [8]:
enem_osasco['NO_MUNICIPIO_RESIDENCIA'].value_counts()

Osasco    9521
Name: NO_MUNICIPIO_RESIDENCIA, dtype: int64

In [9]:
enem_campinas = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Campinas']
enem_campinas.head(10)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
15,"1,90E+11",Campinas,17,F,1,branca,1,1,não_respondeu,NaN,...,496.5,Inglês,1.0,160.0,120.0,140.0,140.0,120.0,680.0,Sim
31,"1,90E+11",Campinas,19,F,1,parda,1,1,não_respondeu,NaN,...,73.1,Inglês,1.0,140.0,120.0,160.0,140.0,160.0,720.0,Sim
51,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,NaN,...,417.5,Inglês,1.0,160.0,140.0,160.0,120.0,160.0,740.0,Sim
116,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,26078562.0,...,480.5,Espanhol,1.0,120.0,60.0,60.0,100.0,0.0,340.0,Sim
169,"1,90E+11",Campinas,17,M,1,branca,1,2,privada,NaN,...,624.4,Inglês,1.0,140.0,120.0,140.0,160.0,160.0,720.0,Sim
186,"1,90E+11",Campinas,19,F,1,branca,1,1,não_respondeu,NaN,...,628.5,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
236,"1,90E+11",Campinas,17,F,1,preta,1,2,privada,35112859.0,...,499.8,Inglês,1.0,160.0,120.0,120.0,160.0,200.0,760.0,Sim
325,"1,90E+11",Campinas,17,M,1,parda,1,2,pública,35907376.0,...,509.3,Inglês,1.0,80.0,120.0,100.0,100.0,80.0,480.0,Sim
401,"1,90E+11",Campinas,18,F,1,branca,1,1,não_respondeu,NaN,...,68.6,Inglês,1.0,160.0,160.0,180.0,160.0,200.0,860.0,Sim
469,"1,90E+11",Campinas,18,M,1,nao_declarado,1,1,não_respondeu,NaN,...,669.4,Inglês,1.0,140.0,180.0,120.0,160.0,120.0,720.0,Sim

# Amostragem aleatória simples

In [12]:
np.random.seed(1) #é usado para manter o padrão da amostra

In [13]:
amostra_simples = enem_campinas.sample(frac = 0.20) #pega 20% dos valores

In [14]:
amostra_simples

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
327999,"1,90E+11",Campinas,20,M,1,preta,1,1,não_respondeu,NaN,...,459.6,Inglês,1.0,180.0,200.0,180.0,200.0,200.0,960.0,Sim
235222,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,35018296.0,...,48.8,Inglês,1.0,160.0,180.0,160.0,140.0,140.0,780.0,Sim
134221,"1,90E+11",Campinas,18,F,1,parda,1,2,pública,NaN,...,429.9,Inglês,1.0,100.0,120.0,100.0,80.0,100.0,500.0,Sim
358407,"1,90E+11",Campinas,25,M,0,parda,1,1,não_respondeu,NaN,...,687.4,Espanhol,1.0,140.0,120.0,120.0,140.0,140.0,660.0,Não
173364,"1,90E+11",Campinas,18,M,1,parda,1,1,não_respondeu,NaN,...,617.9,Inglês,1.0,140.0,120.0,140.0,140.0,80.0,620.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452747,"1,90E+11",Campinas,45,F,1,branca,1,1,não_respondeu,NaN,...,373.5,Espanhol,1.0,80.0,80.0,80.0,80.0,80.0,400.0,Sim
362918,"1,90E+11",Campinas,19,M,1,preta,1,1,não_respondeu,NaN,...,450.7,Inglês,1.0,120.0,40.0,40.0,120.0,0.0,320.0,Sim
221397,"1,90E+11",Campinas,19,F,1,branca,1,1,não_respondeu,NaN,...,524.8,Espanhol,1.0,120.0,120.0,120.0,120.0,100.0,580.0,Sim
76628,"1,90E+11",Campinas,17,M,0,branca,1,2,pública,35018797.0,...,649.7,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
126402,"1,90E+11",Campinas,17,F,1,parda,1,2,pública,35039901.0,...,376.6,Espanhol,1.0,120.0,160.0,140.0,120.0,140.0,680.0,Sim

# outra maneira

In [15]:
amostra_simples2 = enem_campinas.sample(3000)

In [16]:
amostra_simples2

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
57191,"1,90E+11",Campinas,17,F,1,amarela,1,2,pública,35045937.0,...,653.8,Inglês,1.0,120.0,120.0,120.0,140.0,120.0,620.0,Sim
215078,"1,90E+11",Campinas,17,F,1,parda,1,2,pública,35018880.0,...,507.8,Inglês,1.0,120.0,120.0,120.0,120.0,100.0,580.0,Sim
430770,"1,90E+11",Campinas,18,M,1,branca,1,2,privada,35112902.0,...,823.3,Inglês,1.0,140.0,180.0,120.0,160.0,160.0,760.0,Sim
409180,"1,90E+11",Campinas,19,F,1,preta,1,2,pública,35047120.0,...,574.7,Inglês,1.0,120.0,120.0,120.0,120.0,140.0,620.0,Sim
429862,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,35812900.0,...,522.7,Inglês,1.0,140.0,120.0,120.0,160.0,100.0,640.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238949,"1,90E+11",Campinas,22,F,1,preta,1,1,não_respondeu,NaN,...,601.2,Inglês,1.0,160.0,120.0,160.0,160.0,180.0,780.0,Sim
242711,"1,90E+11",Campinas,17,F,1,parda,1,2,privada,35467765.0,...,628.3,Inglês,1.0,160.0,140.0,160.0,160.0,180.0,800.0,Sim
467039,"1,90E+11",Campinas,17,F,1,preta,1,2,pública,NaN,...,382.6,Inglês,1.0,80.0,120.0,100.0,100.0,100.0,500.0,Sim
189967,"1,90E+11",Campinas,19,F,1,parda,1,1,não_respondeu,NaN,...,455.1,Espanhol,1.0,100.0,140.0,120.0,140.0,120.0,620.0,Não
282921,"1,90E+11",Campinas,18,F,1,parda,1,2,pública,35812900.0,...,511.2,Inglês,1.0,120.0,140.0,120.0,140.0,140.0,660.0,Sim

In [18]:
np.random.seed(2)
amostra = np.random.choice(a=[0,1], size = 13198, replace = True, p=[0.8,0.2])
amostra

array([0, 0, 0, ..., 0, 0, 1])

In [19]:
len(amostra[amostra == 0])

10566

In [20]:
len(amostra[amostra == 1])

2632

In [24]:
amostra_simples3 = enem_campinas.loc[amostra == 1]

In [25]:
amostra_simples3

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
949,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,35924573.0,...,601.4,Inglês,1.0,160.0,120.0,120.0,140.0,120.0,660.0,Sim
1058,"1,90E+11",Campinas,19,M,1,parda,1,1,não_respondeu,NaN,...,474.6,Inglês,1.0,120.0,120.0,120.0,160.0,100.0,620.0,Sim
1980,"1,90E+11",Campinas,17,F,1,parda,1,2,pública,35018302.0,...,479.9,Inglês,1.0,120.0,120.0,120.0,140.0,120.0,620.0,Não
2053,"1,90E+11",Campinas,18,F,1,parda,1,1,não_respondeu,NaN,...,424.2,Inglês,1.0,100.0,40.0,20.0,80.0,0.0,240.0,Sim
2328,"1,90E+11",Campinas,20,F,1,parda,2,1,não_respondeu,NaN,...,552.5,Espanhol,1.0,120.0,120.0,100.0,100.0,80.0,520.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498946,"1,90E+11",Campinas,17,M,1,parda,1,2,pública,35018797.0,...,484.1,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
499198,"1,90E+11",Campinas,18,M,1,preta,1,2,pública,35018363.0,...,666.4,Inglês,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim
499258,"1,90E+11",Campinas,21,F,1,preta,1,1,não_respondeu,NaN,...,503.6,Inglês,1.0,120.0,120.0,120.0,140.0,120.0,620.0,Sim
499691,"1,90E+11",Campinas,17,F,1,preta,1,2,pública,35018089.0,...,770.3,Inglês,1.0,120.0,120.0,120.0,160.0,80.0,600.0,Sim
499883,"1,90E+11",Campinas,20,F,1,branca,1,1,não_respondeu,NaN,...,701.1,Inglês,1.0,160.0,200.0,200.0,200.0,180.0,940.0,Sim