divisão da população em grupos com caracteristicas semelhantes, porém são heterogenias

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

enem_sp = pd.read_csv('/Users/paull/OneDrive/Área de Trabalho/LEONARDO/python/jupyter/enem_2019_tratado.csv',
                     sep = ',', encoding = 'iso-8859-1')
enem_campinas = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Campinas']

In [5]:
escolas_publicas = enem_campinas.loc[enem_campinas.ESCOLA == 'pública']

In [6]:
escolas_publicas.shape

(4175, 24)

In [8]:
amostras = escolas_publicas['CO_ESCOLA'].value_counts()
amostras

35045937.0    152
35018363.0    134
35018797.0    124
35018879.0    110
35018326.0    109
             ...
35462822.0      1
35058836.0      1
35112926.0      1
35017255.0      1
35047053.0      1
Name: CO_ESCOLA, Length: 186, dtype: int64

In [9]:
amostras.index

Float64Index([35045937.0, 35018363.0, 35018797.0, 35018879.0, 35018326.0,
              35047200.0, 35901097.0, 35045949.0, 35018235.0, 35018302.0,
              ...
              35018181.0, 35445757.0, 35045724.0, 35432842.0, 35039834.0,
              35462822.0, 35058836.0, 35112926.0, 35017255.0, 35047053.0],
             dtype='float64', length=186)

In [17]:
amostragem = np.random.choice(a=[0,1], size=186, replace=True, p=[0.85, 0.15]) #85% de números 0 e 15% de números 1 
amostragem

array([0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0])

In [18]:
amostra_conglomerado = amostras.loc[amostragem == 1]
amostra_conglomerado

35901097.0    87
35045949.0    84
35018351.0    59
35039901.0    50
35018259.0    36
35018089.0    35
35018855.0    28
35018211.0    22
35018247.0    19
35125568.0    19
35040873.0    15
35901131.0    13
35018417.0    13
35065626.0    13
35042626.0     9
35913923.0     9
35112884.0     9
35430705.0     8
35045585.0     6
35040859.0     5
35144757.0     3
35985296.0     2
35045524.0     2
35112537.0     2
35112896.0     2
35500012.0     1
35985600.0     1
35015830.0     1
35019847.0     1
35049451.0     1
35112768.0     1
35138769.0     1
35462822.0     1
Name: CO_ESCOLA, dtype: int64

In [19]:
amostra_conglomerado.index

Float64Index([35901097.0, 35045949.0, 35018351.0, 35039901.0, 35018259.0,
              35018089.0, 35018855.0, 35018211.0, 35018247.0, 35125568.0,
              35040873.0, 35901131.0, 35018417.0, 35065626.0, 35042626.0,
              35913923.0, 35112884.0, 35430705.0, 35045585.0, 35040859.0,
              35144757.0, 35985296.0, 35045524.0, 35112537.0, 35112896.0,
              35500012.0, 35985600.0, 35015830.0, 35019847.0, 35049451.0,
              35112768.0, 35138769.0, 35462822.0],
             dtype='float64')

In [25]:
amostra_conglomerado_final = escolas_publicas.loc[escolas_publicas['CO_ESCOLA'].isin([3590109735901097.0, 35045949.0, 35018351.0, 35039901.0, 35018259.0,
              35018089.0, 35018855.0, 35018211.0, 35018247.0, 35125568.0,
              35040873.0, 35901131.0, 35018417.0, 35065626.0, 35042626.0,
              35913923.0, 35112884.0, 35430705.0, 35045585.0, 35040859.0,
              35144757.0, 35985296.0, 35045524.0, 35112537.0, 35112896.0,
              35500012.0, 35985600.0, 35015830.0, 35019847.0, 35049451.0,
              35112768.0, 35138769.0, 35462822.0])]

In [26]:
amostra_conglomerado_final

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
1604,"1,90E+11",Campinas,17,F,1,parda,1,2,pública,35430705.0,...,394.7,Inglês,1.0,120.0,40.0,40.0,100.0,0.0,300.0,Não
2126,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,35018089.0,...,641.1,Inglês,1.0,160.0,180.0,160.0,160.0,160.0,820.0,Sim
3282,"1,90E+11",Campinas,18,M,1,preta,1,2,pública,35112884.0,...,638.9,Inglês,1.0,120.0,140.0,140.0,140.0,100.0,640.0,Sim
3336,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,35039901.0,...,670.8,Inglês,1.0,140.0,200.0,160.0,200.0,200.0,900.0,Sim
3413,"1,90E+11",Campinas,17,M,1,parda,1,2,pública,35045949.0,...,563.2,Inglês,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494488,"1,90E+11",Campinas,18,M,1,parda,1,2,pública,35045949.0,...,694.7,Inglês,1.0,160.0,200.0,160.0,160.0,160.0,840.0,Sim
496902,"1,90E+11",Campinas,17,M,1,preta,1,2,pública,35018351.0,...,423.2,Espanhol,1.0,100.0,120.0,120.0,100.0,120.0,560.0,Sim
497044,"1,90E+11",Campinas,17,M,1,parda,1,2,pública,35045524.0,...,51.0,Inglês,1.0,100.0,200.0,120.0,140.0,0.0,560.0,Sim
498878,"1,90E+11",Campinas,18,F,1,parda,1,2,pública,35018259.0,...,487.5,Espanhol,1.0,120.0,120.0,120.0,100.0,60.0,520.0,Não
499691,"1,90E+11",Campinas,17,F,1,preta,1,2,pública,35018089.0,...,770.3,Inglês,1.0,120.0,120.0,120.0,160.0,80.0,600.0,Sim

a função isin busca os valores selecionados na coluna especificada do data frame, ou seja, ele busca os codigos da amostra na coluna 'CO_ESCOLA' e monta um novo dataframe com tudo