In [1]:
import numpy as np
import pandas as pd

dados = pd.read_csv('/Users/paull/OneDrive/Área de Trabalho/LEONARDO/python/microdados_enem_2019_sp.csv',
                    sep=';', encoding='iso-8859-1')

dados1 = dados.drop(columns=['CO_MUNICIPIO_RESIDENCIA'])



dados1 = dados1.drop(columns=['CO_UF_RESIDENCIA','SG_UF_RESIDENCIA','CO_MUNICIPIO_NASCIMENTO'], )
dados1 = dados1.drop(columns=['NO_MUNICIPIO_NASCIMENTO','CO_UF_NASCIMENTO','SG_UF_NASCIMENTO',
                              'TP_ANO_CONCLUIU','TP_ENSINO','CO_MUNICIPIO_ESC','CO_UF_ESC','SG_UF_ESC'],)
dados1 = dados1.drop(columns=['TP_DEPENDENCIA_ADM_ESC','TP_LOCALIZACAO_ESC','TP_SIT_FUNC_ESC'],)

dados1.loc[:,'NU_NOTA_CN'] /= 10
dados1.loc[:,'NU_NOTA_CH'] /= 10
dados1.loc[:,'NU_NOTA_LC'] /= 10
dados1.loc[:,'NU_NOTA_MT'] /= 10

dados1 = dados1.rename(columns={'NU_NOTA_REDACAO': 'NOTA_REDACAO'})
dados1 = dados1.rename(columns={'NU_NOTA_CN': 'NOTA_CN','NU_NOTA_CH': 'NOTA_CH',
                                'NU_NOTA_LC': 'NOTA_LC','NU_NOTA_MT': 'NOTA_MT'})
dados1 = dados1.rename(columns={'NU_NOTA_COMP1': 'COMP1','NU_NOTA_COMP2': 'COMP2',
                                'NU_NOTA_COMP3': 'COMP3','NU_NOTA_COMP4': 'COMP4',
                                'NU_NOTA_COMP5':'COMP5'})
dados1 = dados1.rename(columns={'NU_IDADE': 'IDADE','TP_SEXO': 'SEXO',
                                'TP_COR_RACA': 'RACA','Q025': 'INTERNET',
                                'TP_ESCOLA':'ESCOLA'})

dados1["RACA"] = dados1["RACA"].replace({0:"nao_declarado", 1:"branca", 2:"preta", 3:"parda", 4:"amarela", 5:"indigena"})
dados1["TP_LINGUA"] = dados1["TP_LINGUA"].replace({0:"Inglês", 1:"Espanhol"})
dados1["ESCOLA"] = dados1["ESCOLA"].replace({1:"não_respondeu", 2:"pública", 3:"privada", 4:"exterior"})
dados1["INTERNET"] = dados1["INTERNET"].replace({"A":"Não", "B":"Sim"})

In [2]:
dados1['IDADE'].value_counts()

17    219313
18    147548
19     81236
16     59316
20     53009
       ...
86         1
4          1
3          1
91         1
2          1
Name: IDADE, Length: 80, dtype: int64

In [3]:
dados1['IDADE'].value_counts().sort_index().head(60)

2          1
3          1
4          1
5          2
6          2
7          3
8          6
12         6
13        29
14       355
15     11583
16     59316
17    219313
18    147548
19     81236
20     53009
21     37242
22     29489
23     23531
24     18851
25     15103
26     12465
27     10367
28      8986
29      7650
30      6967
31      6331
32      5685
33      5175
34      4795
35      4340
36      4109
37      4105
38      3767
39      3299
40      3058
41      2638
42      2462
43      2307
44      2069
45      1939
46      1718
47      1578
48      1496
49      1304
50      1167
51      1014
52       933
53       841
54       727
55       652
56       530
57       497
58       388
59       325
60       254
61       236
62       176
63       144
64       139
Name: IDADE, dtype: int64

In [4]:
menores_12 = dados1.query('IDADE < 12')['NO_MUNICIPIO_RESIDENCIA'].value_counts()

Criada uma variavel. o papel dela é fazer uma query (buscar valores) em que a idade seja menor que 12 anos e separar em município de residencia. logo após isso é feita a contagem

In [5]:
menores_12

São Paulo                 5
Tambaú                    1
Ribeirão Preto            1
Bálsamo                   1
São Bernardo do Campo     1
Embu das Artes            1
Queiroz                   1
Santana de Parnaíba       1
Vargem Grande Paulista    1
Auriflama                 1
Araçatuba                 1
Campinas                  1
Name: NO_MUNICIPIO_RESIDENCIA, dtype: int64

In [6]:
dados_maiores_11 = dados1.loc[dados1.IDADE > 11]
#função loc é utilizada para localizar as linhas em que idade é maior que 11
#tabela.loc[tabela.coluna >=< n]

dados_maiores_11.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,IN_TREINEIRO,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,parda,1,1,não_respondeu,0,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",Pinhalzinho,19,M,1,parda,1,1,não_respondeu,0,...,NaN,Espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Não
2,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,0,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
3,"1,90E+11",São Bernardo do Campo,19,M,1,parda,1,2,pública,0,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
4,"1,90E+11",São Joaquim da Barra,37,M,2,branca,1,1,não_respondeu,0,...,NaN,Espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sim

In [ ]:
dados_maiores_11['IDADE'].value_counts().sort_index().head(30)

# Buscando e filtrando treineiros

In [ ]:
dados_maiores_11.query('IN_TREINEIRO == 1')['IN_TREINEIRO'].value_counts()

In [ ]:
treineiros = dados_maiores_11.loc[dados_maiores_11.IN_TREINEIRO == 1]

In [ ]:
treineiros.head()

In [ ]:
treineiros.to_csv('treineiros_enem_2019_sp.csv', encoding = 'iso-8859-1', index = False)

# Vestibulandos

In [ ]:
vestibulandos = dados_maiores_11.loc[dados_maiores_11.IN_TREINEIRO ==0]

In [ ]:
#vestibulandos['IDADE'].value_counts().sort_index().head(30)

# Análise das presenças

In [ ]:
vestibulandos['TP_PRESENCA_CN'].value_counts()

In [ ]:
vestibulandos['TP_PRESENCA_CH'].value_counts()

In [ ]:
vestibulandos['TP_PRESENCA_CN'].value_counts()
vestibulandos['TP_PRESENCA_CH'].value_counts()

In [ ]:
vestibulandos['TP_STATUS_REDACAO'].value_counts().sort_index()

# valores ausentes

In [ ]:
vestibulandos['IDADE'].isnull().sum()

In [ ]:
provas = ['NOTA_REDACAO','NOTA_CN','NOTA_CH','NOTA_MT','NOTA_LC']
vestibulandos[provas].isnull().sum()

localizando os presentes

In [ ]:
vestibulandos_classificados = vestibulandos.loc[vestibulandos.TP_PRESENCA_CH == 1]
vestibulandos_classificados = vestibulandos_classificados.loc[vestibulandos.TP_PRESENCA_MT == 1]

In [ ]:
vestibulandos_classificados['TP_PRESENCA_MT'].value_counts()

In [ ]:
vestibulandos_classificados['TP_PRESENCA_CH'].value_counts()

In [ ]:
vestibulandos_classificados[provas].isnull().sum()

In [ ]:
vestibulandos_classificados.query('NOTA_REDACAO == 0')['NOTA_REDACAO'].value_counts()

In [ ]:
vestibulandos_classificados.query('COMP1 == 0')['COMP1'].value_counts()

In [ ]:
vestibulandos_classificados.query('COMP2 == 0')['COMP2'].value_counts()

In [ ]:
vestibulandos_classificados.query('COMP3 == 0')['COMP3'].value_counts()

In [ ]:
vestibulandos_classificados.query('COMP4 == 0')['COMP4'].value_counts()

In [ ]:
vestibulandos_classificados.query('COMP5 == 0')['COMP5'].value_counts()

In [ ]:
vestibulandos_classificados.query('NOTA_LC == 0')['NOTA_LC'].value_counts()

In [ ]:
vestibulandos_classificados.query('NOTA_MT == 0')['NOTA_MT'].value_counts()

In [ ]:
vestibulandos_classificados.query('NOTA_CH == 0')['NOTA_CH'].value_counts().sort_index()

In [ ]:
vestibulandos_classificados.query('NOTA_CN == 0')['NOTA_CN'].value_counts().sort_index()

In [ ]:
vestibulandos_classificados.query('NOTA_CH == 0')['NOTA_LC'].value_counts().sort_index()

In [ ]:
vestibulandos_classificados.head()

In [ ]:
vestibulandos_classificados2 = vestibulandos_classificados.drop(columns=['TP_PRESENCA_CN','TP_PRESENCA_CH','TP_PRESENCA_MT','TP_PRESENCA_LC'])

In [ ]:
vestibulandos_classificados2.shape

In [ ]:
vestibulandos_classificados2.head()

In [ ]:
vestibulandos_classificados2 = vestibulandos_classificados2.drop(columns=['IN_TREINEIRO'])

In [ ]:
vestibulandos_classificados2.to_csv('enem_2019_tratado.csv', encoding = 'iso-8859-1', index = False)

In [ ]:
nome;idade;curso;nome_da_mae
Pedro;39;programção;flavia
leo;82;programação;paula