In [2]:
import numpy as np
import pandas as pd 
enem_sp = pd.read_csv('/Users/paull/OneDrive/Área de Trabalho/LEONARDO/python/jupyter/enem_2019_tratado.csv',
                      sep = ',', encoding = 'iso-8859-1')

# Medidas de dispersão

In [3]:
enem_sp['NOTA_MT'].var() #variância

33659.47050441108

In [4]:
enem_sp.NOTA_MT.std() #Desvio Padrão

183.46517518158885

In [5]:
enem_sp.NOTA_MT.mean() #média

497.5942403088341

In [6]:
enem_sp.NOTA_MT.mad() #Desvio absoluto

132.98102283461475

In [7]:
enem_sp.NOTA_REDACAO.var()

29082.774122769704

In [8]:
enem_sp.describe()

,IDADE,TP_ESTADO_CIVIL,TP_NACIONALIDADE,TP_ST_CONCLUSAO,CO_ESCOLA,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO
count,499940.000000,499940.000000,499940.000000,499940.000000,1.768940e+05,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000
mean,20.593387,1.053206,1.029902,1.476085,3.521138e+07,449.917000,482.228054,491.941262,497.594240,1.072105,125.000760,127.066808,118.760691,124.989359,97.200704,593.018322
std,6.465291,0.380866,0.230986,0.510351,4.430392e+05,152.982255,161.122963,156.247134,183.465175,0.584314,28.629513,39.846083,36.778882,33.879299,57.787427,170.536724
min,12.000000,0.000000,0.000000,1.000000,1.100306e+07,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17.000000,1.000000,1.000000,1.000000,3.501625e+07,412.400000,450.600000,490.100000,427.900000,1.000000,120.000000,120.000000,100.000000,120.000000,60.000000,500.000000
50%,18.000000,1.000000,1.000000,1.000000,3.504496e+07,478.100000,523.700000,538.300000,511.800000,1.000000,120.000000,120.000000,120.000000,120.000000,100.000000,600.000000
75%,21.000000,1.000000,1.000000,2.000000,3.529070e+07,544.400000,578.100000,576.200000,617.900000,1.000000,140.000000,140.000000,140.000000,140.000000,140.000000,680.000000
max,91.000000,4.000000,4.000000,4.000000,5.300104e+07,860.900000,822.700000,772.300000,984.700000,9.000000,200.000000,200.000000,200.000000,200.000000,200.000000,1000.000000

# Medidas de posição

In [9]:
# Mínimo
enem_sp['NOTA_MT'].min()

0.0

In [10]:
#máximo
enem_sp['NOTA_MT'].max

<bound method NDFrame._add_numeric_operations.<locals>.max of 0         600.2
1         731.8
2         393.2
3         419.2
4         796.1
          ...
499935    479.1
499936     43.2
499937    487.3
499938    401.1
499939    559.5
Name: NOTA_MT, Length: 499940, dtype: float64>

In [11]:
# quartil 1 
enem_sp['NOTA_MT'].quantile(q=0.25)

427.9

In [12]:
# quartil 2
enem_sp['NOTA_MT'].quantile(q=0.50)

511.8

In [13]:
# quartil 3
enem_sp['NOTA_MT'].quantile(q=0.75)

617.9

In [14]:
enem_sp.NOTA_MT.describe()

count    499940.000000
mean        497.594240
std         183.465175
min           0.000000
25%         427.900000
50%         511.800000
75%         617.900000
max         984.700000
Name: NOTA_MT, dtype: float64