In [1]:
import numpy as np
import pandas as pd

enem_sp = pd.read_csv('/Users/paull/OneDrive/Área de Trabalho/LEONARDO/python/jupyter/enem_2019_tratado.csv'
                      , sep=',', encoding = 'iso-8859-1')

In [6]:
enem_guarulhos = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Guarulhos']

In [3]:
enem_bauru = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Bauru']

In [8]:
len(enem_guarulhos)

15647

# Criando uma função probabilidade

In [9]:
def probabilidade(A,E):
    resultado = (A/E) * 100
    print('{:2f}'.format(resultado))

In [11]:
probabilidade(250,1500)

16.666667

In [12]:
probabilidade(len(enem_guarulhos), len(enem_sp))

3.129776

In [14]:
probabilidade(len(enem_bauru),len(enem_sp))

0.834300

In [18]:
intervalo_nota_mt = enem_guarulhos.loc[enem_guarulhos.NOTA_MT >= 400]
intervalo_nota_mt.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
4,"1,90E+11",Guarulhos,23,F,1,branca,1,1,não_respondeu,NaN,...,796.1,Inglês,1.0,160.0,200.0,180.0,180.0,160.0,880.0,Sim
56,"1,90E+11",Guarulhos,17,F,1,parda,1,2,pública,NaN,...,468.1,Espanhol,1.0,100.0,60.0,60.0,100.0,0.0,320.0,Sim
69,"1,90E+11",Guarulhos,27,M,1,nao_declarado,1,1,não_respondeu,NaN,...,743.8,Inglês,1.0,120.0,180.0,120.0,120.0,160.0,700.0,Sim
130,"1,90E+11",Guarulhos,28,F,1,branca,1,1,não_respondeu,NaN,...,415.1,Inglês,1.0,160.0,120.0,160.0,120.0,100.0,660.0,Sim
202,"1,90E+11",Guarulhos,17,F,1,parda,1,2,pública,35005824.0,...,594.9,Inglês,1.0,120.0,120.0,120.0,120.0,160.0,640.0,Sim

In [19]:
probabilidade(len(intervalo_nota_mt), len(enem_sp)  )

2.554106

# Probabilidade de não ocorrer um evento

In [22]:
def probabilidade_nao(A,E):
    resultado = ((1-(A/E))*100)
    print('{:.2f}'.format(resultado))

In [23]:
probabilidade_nao(len(enem_guarulhos), len(enem_sp))

96.87

In [25]:
probabilidade_nao(len(enem_guarulhos)+len(enem_bauru), len(enem_sp))

96.04

# Probabilidade da união mutuamente exclusiva (A u B)

In [30]:
def probabilidade_aub(A,B,E):
    resultado = (((A/E)+(B/E))*100)
    print('{:.2f}'.format(resultado))

In [31]:
probabilidade_aub(len(enem_guarulhos),len(enem_bauru),len(enem_sp))

3.96

# Probabilidade da intersecção de dois eventos

In [32]:
def probabilidade_inter(A,B,E):
    resultado = (A/E)*(B/E)*100
    print('{:.3f}'.format(resultado))

In [33]:
probabilidade_inter(len(enem_guarulhos),len(enem_bauru), len(enem_sp))

0.026

# Probabilidade Condicional

In [34]:
def probabilidade_cond(AB, B):
    resultado = (AB/B)*100
    print('{:.2f}'.format(resultado))

mulher = enem_sp.loc[enem_sp.SEXO == 'F']
mulher_parda = mulher.loc[mulher.RACA =='parda']
mulher_parda.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
3,"1,90E+11",Embu-Guaçu,17,F,1,parda,1,2,pública,NaN,...,419.2,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
7,"1,90E+11",Santo André,20,F,1,parda,1,1,não_respondeu,NaN,...,508.5,Espanhol,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim
9,"1,90E+11",Santo André,44,F,2,parda,1,1,não_respondeu,NaN,...,488.1,Espanhol,1.0,120.0,120.0,120.0,120.0,40.0,520.0,Sim
11,"1,90E+11",Guará,17,F,1,parda,1,2,pública,35023310.0,...,535.1,Inglês,1.0,140.0,120.0,140.0,160.0,120.0,680.0,Sim

In [36]:
probabilidade_cond(len(mulher_parda), len(mulher))

30.76